---
import Layout from '@/layouts/Layout.astro';
import '@/css/main.scss';
---

<Layout
  title="Sam Hamburger | Portfolio and Blog"
  description="Sam Hamburger's portfolio of software development projects, blogs, drone footage, and technologies used"
  isCenterJustified
>
  <div class="h-full w-full flex items-center justify-center">
    <div class="text-4xl md:text-6xl animate-bounce">
      <h1>sam <span class="text-accent">/</span> hamburger</h1>
      <h2 class="text-2xl text-center mt-4">software engineer</h2>
    </div>
  </div>
</Layout>
