---
import Layout from '@/layouts/Layout.astro';
import '@/css/main.scss';
import Hero from '@/core/components/Hero';
---

<Layout
  title="Sam Hamburger | Portfolio and Blog"
  description="Sam Hamburger's portfolio of software development projects, blogs, drone footage, and technologies used"
  isCenterJustified
>
  <div class="h-full w-full flex items-center justify-center">
    <Hero client:only="solid-js">
      <h1>
        sam <span class="text-accent">/</span> hamburger
      </h1>
      <h2 class="text-2xl text-center mt-4">software engineer</h2>
    </Hero>
  </div>
</Layout>
