---
import Layout from '@/layouts/Layout.astro';
import ListPage from '@/core/components/ListPage';
import HighlightedText from '@/core/components/HighlightedText';
import '@/css/main.css';
import { uses } from '@/data/uses';
---

<Layout
  title="Sam Hamburger | Uses"
  description="Sam Hamburger uses, checkout what tech I use"
>
  <ListPage title="uses" subtitle="see what tech I use">
    <div class="flex flex-col space-y-4">
      {
        uses.map((uses) => (
          <div class="flex flex-col space-y-1">
            <h2 class="text-accent underline text-xl tracking-wide">
              {uses.title}
            </h2>
            <div class="flex space-x-10">
              <div class="flex flex-col space-y-1">
                {uses.leftColItems.map((item) => (
                  <HighlightedText text={item} char="/" />
                ))}
              </div>
              <div class="flex flex-col space-y-1">
                {uses.rightColItems.map((item) => (
                  <HighlightedText text={item} char="/" />
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </ListPage>
</Layout>
